MONGODB_URI="mongodb://utilisateur:motdepasse@hote:port/?authSource=database"
MONGODB_DB_NAME="bar"
ORIGIN="http://localhost:3000"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_EMAIL="votre_adresse_mail@telecomnancy.net"
SMTP_PASSWORD="votre_mot_de_passe_d_application"
BASE_URL="https://votre-domaine.fr"
